@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        margin-right: -5rem;
    }
    #experience, .experience-details-container {
        margin-top: 5rem;
        width: auto;
    }
    .compcontainers {
        display: flex;
        flex-direction: column;

    }
    .title {
        margin-top: 4rem;
        justify-content: center;

    }
    #profile, .section-container {
        display: block;
    }
    #profile, .btn-container {
        display: block;
        margin-top: 4rem;
    }
    .section__text__p1 {
        display: none;
    }
    .about-pic {
        display: none;
    }
    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .profilepic {
        width: 250px;
        height: 250px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {

    .profilepic{
        margin-top: -4rem;
    }
    #projects{
        margin-top: 0rem;
    }
    #contact{
        margin-top: 3rem;
    }
    body{
        margin: 0;
    }
    #contact, footer {
        height: 40vh;
    }

    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, .contactinfouppercontainer, .btn-container {
        flex-wrap: wrap;
    }
    .contactinfocontainer{
        margin: 0.75;
    }
    .contactinfocontainer p,
    .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title{
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
    .contactinfocontainer{
        width: auto;
        
    }
    .contactinfouppercontainer{
        margin-bottom: 7rem;
    }
    #experience{
        margin-top: 65rem;
    }
    .compcontainers {
        width: auto;

        margin: 0rem;
        padding: 0rem;
    }

    .contact-icon{
        display: none;
    }

    .projects-container{
        width: auto;
        margin: 0;
    }
    .copyright{
        margin: 1rem;
    }
    
    .title2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: -8rem;
        margin-top: 0rem;
    }
    
    .profilepic {
        width: 250px;
        height: 250px;
        margin: 0 auto 2rem;
        margin-top: -6rem;
    }

    .title{
        margin-top: -0.8rem;
    }

    
}
