/*GENERAL*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85);
}

/* TRANSITION */
a,
.btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */
nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh
}

.nav-links {
    gap: 2rem;
    list-style-type: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    padding: 0.8rem;
    border: 2px solid transparent;
    border-radius: 1rem;
}

a:hover {
    color: grey;
    padding: 0.8rem;
    border: 2px solid #acacac; /* Border color and thickness */
    border-radius: 1rem; /* Adjust the roundness of the corners */
    text-decoration-color: rgb(181,181,181);
}

.logo {
    font-size: 2rem
}

.logo:hover {
    cursor: default;
}

/* COMPRESSED MENU */

#hamburger-nav {
    display: none;
}

.compressedmenu {
    position: relative;
    display: inline-block;
}

.compicon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.compicon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.compicon.open span:first-child {
    transform: rotate(45deg) transalte(10px, 5px)
}
.compicon.open span:nth-child(2) {
    opacity: 0;
}
.compicon.open span:last-child {
    transform: rotate(-45deg) transalte(10px, -5px)
}
.compicon span:first-child {
    transform: none;
}
.compicon span:first-child {
    opacity: 1;
}
.compicon span:first-child {
    transform: none;
}

/* SECTIONS */
